header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /*padding: 50px 32px 0;*/
  padding: 10px 32px;

  position: fixed;
  width: 100%;
}

main ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

main li {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url({{ site.baseurl }}/img/snowman-1.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__item--yum {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url({{ site.baseurl }}/img/yum.jpg)
}

.portfolio__item--kitchen {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url({{ site.baseurl }}/img/kitchen.jpg)
}

.portfolio__item--shop {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url({{ site.baseurl }}/img/shop.jpg)
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  text-align: center;
}

/*ABOUT STYLES*/
.flex-container--about {
  background-color: #f05f40;
  color: #fff;
  min-height: 500px;
}

/*SERVICES & TEAM STYLES*/
.flex-container ul {
  width: 100%;
}

/*SERVICES STYLES*/
.flex-container--services {
  min-height: 500px;
}

.flex-container--services-info {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container.flex-container--services-info {
  min-height: auto;
}

.flex-container--services-info > div {
  width: 300px;
}

/*PORTFOLIO & TEAM STYLES*/
.flex-container--portfolio,
.flex-container--team {
  min-height: 300px;
}

.flex-container--portfolio-info,
.flex-container--team-info {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/*CONTACT STYLES*/
.flex-container--contact {
  min-height: 500px;
}

.flex-container--contact > p {
  width: 50%;
}

.flex-container.flex-container--contact-info {
  min-height: auto;
}

.flex-container--contact-info {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container--contact-info > div {
  margin: 10px;
}

/* MEDIA QUERY STYLES */
@media screen and (min-width: 1360px) {
  .nav-container {
    width: 1360px;
  }
}

@media screen and (max-width: 960px) {
  .responsive-nav__display {
      display: flex;
  }

  .responsive-nav__display svg,
  .responsive-nav__display div {
    padding: 8px 12px;
  }

  .nav {
      display: none;
  }

  .flex-container--services-info > div,
  .flex-container--team-info > li,
  .flex-container--portfolio-info > li {
    margin: 30px 0;
  }

  .flex-container--contact-info > div {
    margin: 30px 0;
  }

  .flex-container--contact > p {
    width: 80%;
  }
}